* { /*Removes the browser's ugly default spacing*/
	margin: 0px;
	padding: 0px;
}
body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #171717;
	background-image: url('../img/bg-tile.jpg');
	background-repeat: repeat-x;
	font-size: 16px;
	line-height: 1.5em;
}
#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	margin-top: 20px;
	border: 5px solid #000;
}
#header {
	display: flex;
	width: 800px;
	height: 140px;
	/*background-image: url('../img/assessment-4-optimized.jpg');*/
	justify-content: center;
	align-items: center;
}
#header img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#header h1{
	position: absolute;
}
#header h1 a {
	font-size: 50px;
	color:#FFF;
	text-decoration: initial;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
	padding: 10px;
	border-radius: 5px;
}
#nav {
	background-color: #000;
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#content {
	margin: 20px;
	max-height: 745px;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
.alert{
	background: linear-gradient(90deg, #111, #333, #555, #333, #111);
	padding: 10px;
	background-size: 200% auto;
	animation: gradient 5s linear infinite;
	color: #FFF;
}
@keyframes gradient{
	0%{
		background-position: 0% center;
	}
	100%{
		background-position: 200% center;
	}
}
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}

h2{
	font-size: 1.75rem;
	color: #5f5f5f;
}
h3{
	font-size: 1.5rem;
	color: #9e9e9e;
}
h4{
	font-size: 1.25rem;
	color: #000000;
}

#markup-section{
	margin: 10px;
	padding: 20px;
	background-color: black;
	color: white;
}

#markup-section ol {
	list-style-position: inside;
}

#word{
	font-size: 20px;
}

#q3 a{
	background-color: rgb(209, 0, 0);
	margin-top: 25px;
	padding: 5px;
	text-decoration: none;
	color: #FFF;
	border-radius: 5px;
}

#q3 a:hover{
	background-color: rgb(255,0,0);
}

#float-image{
	float: right;
	border: 10px solid #000;
	margin: 10px;
}

#footer {
	display: flex;
	background-color: #000;
	color: #FFF;
	height: 25px;
	justify-content: space-between;
}


dd{
	margin: 10px;
}